/* ---------- MAIN ---------- */

body {
    
    margin: 0;
    background-color: #FFFFFF;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

#interview-header {
    text-align: center;
}

.clicked {
    background-color: #01DEB2;
    border: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.option-button {
    height: 30px;
}

.option-button:hover {
    background-color: #01DEB2;
    border: none;
    cursor: pointer;
} 

/* ---------- FLASH CARD ---------- */

#button-container {
    margin-top: 5%;
    text-align: center;
}

.question-container {
    margin-top: 10%;
    perspective: 1000px;
    display: flex;
    justify-content: center;
}

.flashcard {
    width: 600px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    background-color: #1C1A5E;
    color: white;
    padding: 3%;
    text-align: center;
}


#next-question-button {
    height: 40px;
    width: 150px;
    background-color: #01DEB2;
    border-radius: 40px;
    border: none;
    margin-top: 15%;
}

#next-question-button:hover {
    background-color: #04c59e;
    cursor: pointer;
}

#question {
    font-size: 1.5rem;
}

#definition {
    font-size: 1.2rem;
    line-height: 1.3;
}

/* ---------- MEDIA QUERIES ---------- */


@media screen and (max-width: 840px) {

    .card-front {
        color: white;
    }

    .flashcard-container {
        margin-top: 15%;
        perspective: 1000px;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
    }

    .flashcard {
        width: 550px;
        height: 250px;
        transform-style: preserve-3d;
        transition: transform 0.5s;
    }

    #question {
        font-size: 1.5rem;
    }
    
    #definition {
        font-size: 1rem;
        line-height: 1.3;
        padding-left: 1%;
    }

}

@media screen and (max-width: 600px) {

    #interview-header {
        font-size: 20px;
    }

    .card-front {
        color: white;
    }

    .flashcard-container {
        margin-top: 10%;
        perspective: 1000px;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
    }

    .flashcard {
        width: 300px;
        height: 400px;
        transform-style: preserve-3d;
        transition: transform 0.5s;
    }

    #question {
        font-size: 1.2rem;
        text-align: center;

    }
    
    #definition {
        font-size: 1rem;
        line-height: 1.5;
    }

    .card-front, .card-back {
        width: 100%;
        height: 100%;
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        backface-visibility: hidden;
    }

    #next-card-button {
        height: 40px;
        width: 150px;
        background-color: #01DEB2;
        border-radius: 40px;
        border: none;
        margin-left: 25%;
    }
    
    #show-definition-button {
        height: 40px;
        width: 150px;
        background-color: #01DEB2;
        border-radius: 40px;
        border: none;
        margin-top: 50%;
        margin-left: 25%;
    }

}